---
import Layout from "@/layouts/Layout.astro"
import NavBar from "@/components/NavBar.astro"
import Header from "@/components/Header.astro"
import Services from "@/components/Services.astro"
import Contact from "@/components/Contact.astro"
import Footer from "@/components/Footer.astro"
import Products from "@/components/Products.astro"
import FloatingMenu from "@/components/Floating-Menu.astro"

---

<Layout title="Alpes Agency" description="Agencia dedicada a la creación de páginas web, landing pages, invitaciones de bodas web, etc.">
	<main id="hero" class="w-full min-h-screen relative lg:pb-32">
		<img src="img/mountain.jpg" class="fixed w-full h-full object-cover object-center z-0" alt="">
		<NavBar />
		<FloatingMenu />
		<Header />
		<Services />
		<Products />
		<Contact />
		<Footer />
	</main>
</Layout>