---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Header from '@/components/Header.astro';
import BtnMenu from '@/components/BtnMenu.astro';
---

<Layout title="Welcome to Astro.">
	<main class="min-h-dvh">
		<NavBar />
		<Header />
		<BtnMenu />
	</main>
</Layout>