---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Header from '@/components/Header.astro';
import BtnMenu from '@/components/BtnMenu.astro';
import Services from '@/components/Services.astro';
import Contact from '@/components/Contact.astro'
import MenuMobile from '@/components/MenuMobile.astro';
import Footer from '@/components/Footer.astro'
import NavBarOne from '@/components/NavBarOne.astro';
import HeaderOne from '@/components/HeaderOne.astro';
import ServicesOne from '@/components/ServicesOne.astro';
import ContactOne from '@/components/ContactOne.astro';
import SocialMediaFloat from '@/components/SocialMediaFloat.astro';
import NavBarTwo from '@/components/NavBarTwo.astro';
import HeaderTwo from '@/components/HeaderTwo.astro';
---

<Layout title="Alpes Agency" description="Agencia dedicada a la creación de páginas web, landinp pages, invitaciones de bodas web, etc.">
	<NavBarTwo />
	<main class="w-full h-screen relative bg-primary dark:bg-secondary overflow-x-hidden scroll-smooth">
			<HeaderTwo 
			id='home'/>
			<ServicesOne 
			id='services'/>
			<ContactOne />
			<SocialMediaFloat />
	</main>
	<Footer />
</Layout>