---
import Layout from "@/layouts/Layout.astro";


---

<Layout 
title="SEO con Alpes" 
description="Deja que el tráfico llegue a ti. Optimiza tu sitio con nuestros expertos en SEO.">
    <section class="w-full max-w-[1080px] min-h-full lg:max-w-[608px]">

    </section>
</Layout>