---
interface Props {
    href: string,
    text: string,
}

const { href, text } = Astro.props;
---

<a class="block px-8 py-2 text-base bg-[var(--primary)] hover:bg-[var(--secondary)] text-[var(--secondary)] hover:text-[var(--primary)] font-medium duration-300 rounded" href={href}>{text}</a>