---
interface Props {
    href: string,
    text: string,
}

const { href, text } = Astro.props;
---

<a class="btn-font text-center block px-8 py-2 hover:bg-[var(--secondary)] text-[var(--primary)] border border-[var(--primary)] duration-300 rounded" href={href}>{text}</a>