---
interface Props {
    href: string,
    text: string,
}

const { href, text } = Astro.props;
---

<a class="text-center block px-8 py-2 hover:bg-[var(--primary)] text-[var(--primary)] hover:text-[var(--secondary)] text-base border border-[var(--primary)] duration-300" href={href}>{text}</a>