---
import Logo from "@/ui_complements/Logo.astro";


---

<section id="contact" class="relative max-h-[768px] w-full max-w-[1080px] lg:top-20 m-auto">
    <form class="h-[520px] w-[343px] md:w-4/5 lg:w-[736px] relative top-32 lg:top-40 mx-auto bg-[var(--overlay)] flex flex-col md:flex-row items-center justify-between md:justify-evenly py-12 px-6 md:p-0 overflow-hidden" method="post">
        <div class="grid gap-4 md:flex md:flex-col md:justify-center items-center md:w-2/4">
            <Logo class="w-32 lg:w-40 h-auto aspect-square text-[var(--secondary)] mx-auto"/>
            <p class="w-36 text-center md:text-left text-[var(--secondary)] md:text-xl md:w-44">No te conformes con plantillas</p>
        </div>
        <div class="grid justify-items-center gap-8 md:flex md:flex-col md:justify-center md:items-center md:w-2/4">
            <label for="name">
                <input class="pl-4 bg-transparent border-b text-[var(--secondary)] border-[var(--overlay-dark)] outline-0 focus:border-[var(--secondary)] focus:border-b-2 duration-100 text-center md:text-left" type="text" name="name" id="name" placeholder="NOMBRE">
            </label>
            <label for="email">
                <input class="pl-4 bg-transparent border-b text-[var(--secondary)] border-[var(--overlay-dark)] outline-0 focus:border-[var(--secondary)] focus:border-b-2 duration-100 text-center md:text-left" type="email" name="email" id="email" placeholder="EMAIL">
            </label>
            <button class="block px-8 py-2 hover:bg-[var(--secondary)] bg-[var(--primary)] hover:text-[var(--primary)] text-[var(--secondary)] border border-[var(--secondary)] text-base font-medium duration-300 uppercase" type="submit">Impulsa tu negocio</button>
        </div>
    </form>
</section>

<style>
    form {
        backdrop-filter: blur(4px);
    }
    input::placeholder {
        color: var(--text-secondary);
    }
</style>