---
import BtnAction from "@/ui_complements/Btn-Action.astro";
import Fb from "@/ui_complements/Fb.astro";
import Ig from "@/ui_complements/Ig.astro";


---

<div class="w-4/5 max-w-72 h-full max-h-[768px] relative lg:top-32" >
    <ul>
        <slot />
    </ul>
    <BtnAction
    href="#" 
    text="Impulsa tu negocio"
    />
    <div class="flex justify-center items-center gap-5">
        <a href="#">
            <Fb class="fill-[var(--text-secondary)] hover:fill-[var(--secondary)] duration-300" />
        </a>
        <a href="#">
            <Ig class="fill-[var(--text-secondary)] hover:fill-[var(--secondary)] duration-300" />
        </a>
    </div>
</div>