---
import BtnAction from "@/ui_complements/Btn-Action.astro";
import Fb from "@/ui_complements/Fb.astro";
import Ig from "@/ui_complements/Ig.astro";
---

<div id="mobileMenu" class="cristal w-full h-full fixed lg:hidden left-0 right-0 lg:left-[unset] mx-auto top-0 bottom-0 z-50 text-center bg-[var(--overlay-strong)] flex flex-col justify-center items-center gap-8 -translate-y-[120%] duration-500" >
    <ul class="flex flex-col w-full">
        <a class="mobileMenuBtn py-4 text-center text-3xl text-[var(--text-secondary)] hover:text-[var(--gold)]" href="#hero">Inicio</a>
        <a class="mobileMenuBtn py-4 text-center text-3xl text-[var(--text-secondary)] hover:text-[var(--gold)]" href="#services">Servicios</a>
        <a class="mobileMenuBtn py-4 text-center text-3xl text-[var(--text-secondary)] hover:text-[var(--gold)]" href="#products">Productos</a>
        <a class="mobileMenuBtn py-4 text-center text-3xl text-[var(--text-secondary)] hover:text-[var(--gold)]" href="#contact">Contacto</a>
    </ul>
    <BtnAction
    href="#" 
    text="Impulsa tu negocio"
    />
    <div class="flex justify-center items-center gap-5">
        <a href="https://www.facebook.com/profile.php?id=100076139250495">
            <Fb class="fill-[var(--text-secondary)] hover:fill-[var(--secondary)] duration-300" />
        </a>
        <a href="https://www.instagram.com/ideal.artwork.ec/">
            <Ig class="fill-[var(--text-secondary)] hover:fill-[var(--secondary)] duration-300" />
        </a>
    </div>
</div>

<style>
    .cristal {
        backdrop-filter: blur(5px);
    }
</style>

<script>
    const btns = document.querySelectorAll('.mobileMenuBtn')
    const mobileMenu = document.getElementById('mobileMenu')

    btns.forEach(btn => btn.addEventListener('click', ()=> mobileMenu.classList.toggle('showMenu')))
</script>