---
import Fb from "@/ui_complements/Fb.astro";
import Ig from "@/ui_complements/Ig.astro";


---

<footer class="w-full max-w-[1080px] h-40 md:h-20 relative bg-[var(--overlay)] text-[var(--secondary)] text-center grid md:flex place-content-center md:justify-between md:items-center gap-5 md:gap-0 md:px-4 lg:mx-auto lg:top-32 left-0 right-0 rounded-t">
    <p class="font-medium">© 2024 Alpes Agency <span class="hidden md:inline">|</span> <br class="md:hidden"> Todos los derechos reservados.</p>
    <div class="flex mx-auto md:items-end md:m-0 gap-5">
        <a href="#">
            <Fb class="fill-[var(--text-secondary)] hover:fill-[var(--secondary)] duration-300" />
        </a>
        <a href="#">
            <Ig class="fill-[var(--text-secondary)] hover:fill-[var(--secondary)] duration-300" />
        </a>
    </div>
</footer>

<style>
    footer {
        backdrop-filter: blur(4px);
    }
</style>