---
import Logo from "@/ui_complements/Logo.astro"
import Isotipo from "@/ui_complements/Isotipo.astro"
import BtnAction from "@/ui_complements/Btn-Action.astro"

---

<header class="min-h-screen lg:min-h-[calc(100vh_-_5rem)] w-full max-w-[1080px] relative grid lg:flex lg:flex-row-reverse lg:justify-between items-center content-center lg:top-20 mx-auto gap-4 px-[5%] lg:p-0 rounded overflow-hidden z-10">
    <video class="h-full absolute object-cover object-center z-10" autoplay loop muted src="video/hero.mp4"></video>
    <div class="absolute w-full h-full bg-[var(--overlay-strong)] z-20 "></div>
    <picture class="z-30">
        <Logo class=" min-w-60 w-[50%] max-w-[30rem] h-auto m-auto" />
    </picture>
    <div class="flex flex-col justify-center items-center lg:items-start gap-2 z-30">
        <Isotipo class="w-[65%] max-w-[300px] h-auto" />
        <p class="text-center lg:text-left w-64 mb-2">Desarrollamos experiencias web únicas y personalizadas.</p>
        <BtnAction
        href="#"
        text="Encuentra tus colores"
        />
    </div>
</header>

<style>
    header {
        background-image: url("video/hero.mp4");
    }
</style>