


<header class="w-full min-h-screen relative">
    <video class="absolute object-center object-cover h-full w-full z-0" src="/video/hero-bg.mp4" autoplay muted loop />
    <div class="cristal absolute w-3/5 lg:w-2/5 h-full grid place-content-center text-[var(--text-full)] right-0 z10">
        <h1 class="spacing grid w-4/5 mx-auto mb-10">
            <b class="twoSerif text-6xl md:text-8xl">Alpes</b>
            <span class="twoSans text-xl md:text-3xl text-end">Agency</span>
        </h1>
        <p class="spacing twoSans text-lg md:text-center md:text-xl">No es sólo una <b class="twoSerif">web</b></p>
        <p class="spacing twoSans text-lg md:text-center md:text-xl">es tu <b class="twoSerif">marca</b>.</p>
    </div>
</header>