---
import Logo from "@/ui_complements/Logo.astro"
import Isotipo from "@/ui_complements/Isotipo.astro"
import BtnAction from "@/ui_complements/Btn-Action.astro"

---

<header id="home" class="min-h-screen lg:min-h-[calc(100vh_-_8rem)] w-full max-w-[1080px] relative grid lg:flex lg:flex-row-reverse lg:justify-between items-center content-center lg:top-32 mx-auto gap-4 px-[5%] lg:px-0 lg:rounded-l lg:rounded-r overflow-hidden z-10">
    <video class="h-full w-full absolute object-cover object-center z-10" autoplay loop muted src="video/hero.mp4"></video>
    <div class="absolute w-full h-full bg-[var(--overlay-strong)] z-20 "></div>
    <picture class="lg:mr-4 z-30">
        <Logo class=" min-w-60 w-[50%] lg:w-full text-[var(--secondary)] max-w-[25rem] h-auto m-auto" />
    </picture>
    <div class="flex flex-col justify-center items-center lg:items-start ml-4 gap-2 z-30">
        <Isotipo class="w-[65%] max-w-[360px] lg:w-full h-auto" />
        <p class=" text-[var(--secondary)] text-center lg:text-left text-base md:text-xl w-64 md:w-[20rem] mb-2">Desarrollamos experiencias web únicas y personalizadas.</p>
        <BtnAction
        href="https://coolcontrast.vercel.app/"
        text="Encuentra tus colores"
        />
    </div>
</header>

<style>
</style>