---

---

<ul id="menu-mobile" class="cristal fixed grid md:hidden place-content-center text-center gap-6 w-3/5 h-3/5 rounded text-[var(--text)] bottom-16 right-20 z-20">
    <li><a class="duration-300 hover:text-white" href="#home">Inicio</a></li>
    <li><a class="duration-300 hover:text-white" href="#services">Servicios</a></li>
    <li><a class="duration-300 hover:text-white" href="#contact">Contacto</a></li>
</ul>

<style>
    #menu-mobile {
        transform: translate(150%, 150%) scale(0);
        opacity: 0;
        transition: transform 500ms ease-in-out, opacity 250ms ease-in;
    }
</style>