---
import ToggleBtn from "@/ui_complements/Toggle-Btn.astro"
import Logo from "@/ui_complements/Logo.astro"
---

<nav id="floatingNav" class="absolute text-[var(--secondary)] z-50">
    <div class="fixed top-0 lg:top-32 h-20 w-full max-w-[1080px] py-6 lg:py-5 px-[5%] lg:px-4 mx-auto left-0 right-0 md:py-4 flex justify-between">
        <Logo class="h-full w-auto text-current duration-300" />
        <ToggleBtn 
        class="h-full w-auto cursor-pointer text-current hover:text-[var(--gold)] active:scale-90 duration-300"/>
    </div>
</nav>


<script>
    const floatingNav = document.getElementById('floatingNav')
    const options = {}
    const observer = new IntersectionObserver(callback, options)

    function callback () {

    }
</script>