---
import ToggleBtn from "@/ui_complements/Toggle-Btn.astro"
import Logo from "@/ui_complements/Logo.astro"
---

<nav id="rootMenu" class="relative w-full h-max lg:h-20 top-0 lg:top-52 text-[var(--secondary)] z-50">
    <div id="floatingNav" class="absolute h-20 w-full max-w-[1080px] py-6 lg:py-5 px-[5%] lg:px-4 mx-auto left-0 right-0 md:py-4 flex justify-between duration-500">
        <Logo class="h-full w-auto text-current duration-300" />
        <ul class="gap-6 hidden lg:flex items-center">
            <a class="text-center text-xl px-4 hover:text-[var(--gold)] duration-300" href="#hero">Inicio</a>
            <a class="text-center text-xl px-4 hover:text-[var(--gold)] duration-300" href="#services">Servicios</a>
            <a class="text-center text-xl px-4 hover:text-[var(--gold)] duration-300" href="#products">Productos</a>
            <a class="text-center text-xl px-4 hover:text-[var(--gold)] duration-300" href="#contact">Contacto</a>
        </ul>
        <ToggleBtn 
        class="h-full w-auto text-current active:scale-90 lg:active:scale-100 duration-300"/>
    </div>
</nav>

<style is:global>
    .floatingMenu {
        width: 90%;
        position: fixed;
        background-color: var(--overlay-dark);
        backdrop-filter: blur(4px);
        color: var(--primary);
        top: 1rem;
        transition-duration: 500ms;
        border-radius: 9999px;
        z-index: 50;
    }

    .showMenu {
        transform: translateY(0%);
        z-index: 40;
    }
    
    @media (width > 767px) {
        .floatingMenu {
            width: 80%;
            max-width: 980px;
            margin: 0 auto;
            position: fixed;
            background-color: var(--overlay-dark);
            backdrop-filter: blur(4px);
            color: var(--primary);
            font-weight: 600;
            top: 1rem;
            padding: 1.25rem 2rem;
            transition-duration: 500ms;
            border-radius: 9999px;
        }
        .showMenu {
            transform: translateY(-100%);
            z-index: -1;
        }
    }

</style>


<script >
    const floatingNav = document.getElementById('floatingNav')
    const mobileMenu = document.getElementById('mobileMenu')
    const rootViewportMenu = document.getElementById('rootMenu')
    const btnMenu = document.getElementById('toggleBtn')
    const optionsFix = {
        root: null,
        threshold: .8
    }

    function menuFixed (e) {
        if(e[0].isIntersecting) {
            floatingNav.classList.remove('floatingMenu')
        } else {
            floatingNav.classList.add('floatingMenu')
        }
    }

    let observerSection = new IntersectionObserver(menuFixed, optionsFix)
    
    observerSection.observe(rootViewportMenu)

    btnMenu.addEventListener('click', ()=> mobileMenu.classList.toggle('showMenu'))


    
</script>