---
import ToggleBtn from "@/ui_complements/Toggle-Btn.astro"
import Logo from "@/ui_complements/Logo.astro"
---

<nav class="absolute z-30">
    <div class="fixed top-0 lg:top-32 h-20 w-full max-w-[1080px] py-5 px-[5%] lg:px-4 lg:mx-auto lg:left-0 lg:right-0  md:py-4 flex justify-between">
        <Logo class="h-full w-auto" />
        <ToggleBtn 
        class="h-full w-auto"/>
    </div>
</nav>