---
import ProductCard from "@/ui_complements/Product-Card.astro";


---

<section class="flex relative lg:top-32 h-[400px] w-full max-w-[1080px] overflow-hidden mx-auto">
    <video class="absolute h-full w-full object-cover z-0" src="/video/products.mp4" autoplay loop muted></video>
    <div class="sliderContainer flex w-full max-w-[1080px] mx-auto h-full relative overflow-scroll snap-x snap-mandatory lg:overflow-hidden">
        <ProductCard
        number="1"
        titleFront="Páginas Web"
        titleBack="Webs"
        href="#"
        linkText="Descubre más"
        >
            <p>Fácil administración y escalabilidad</p>
            <p>Analítica integrada</p>
            <p>Compatibilidad móvil</p>
            <p>Optimización para buscadores y marketing digital</p>
        </ProductCard>
        <ProductCard
        number="2"
        titleFront="Invitaciones para  eventos"
        titleBack="Eventos"
        href="#"
        linkText="Descubre más"
        >
            <p>Diseños personalizables y exclusivos</p>
            <p>Interactividad y animaciones atractivas</p>
            <p>Envío fácil a través de correo o redes sociales</p>
            <p>Confirmación de asistencia y seguimiento en tiempo real</p>
        </ProductCard>
        <ProductCard
        number="3"
        titleFront="Aplicaciones web"
        titleBack="Aplicaciones"
        href="#"
        linkText="Descubre más"
        >
            <p>Analítica integrada</p>
            <p>Navegación fácil e intuitiva</p>
            <p>Compatibilidad móvil</p>
            <p>Llamadas a la acción efectivas</p>
        </ProductCard>
        <ProductCard
        number="4"
        titleFront="Diseños 3D"
        titleBack="3D"
        href="#"
        linkText="Descubre más"
        >
            <p>Modelado con SketchUp preciso y detallado para fabricación exacta</p>
            <p>Visualización realista de texturas y acabados</p>
            <p>Compatibilidad con planos técnicos y despieces</p>
            <p>Optimización para presentaciones y cotizaciones comerciales</p>
        </ProductCard>
    </div>
</section>

<style>
    .sliderContainer::-webkit-scrollbar {
        display: none;
    }
    
</style>