---
interface Props {
    id: string,
}

const { id } = Astro.props;
---

<section id={ id } class="h-screen w-full bg-primary overflow-hidden grid place-content-center">
    <div class="w-[90%] h-4/5 relative m-auto flex flex-col">
        <div class="h-3/5">
            <img class="h-full mx-auto" src="/img/iphones.png" alt="">
        </div>
        <div class="h-2/5">
            <h2 class="w-3/4 mx-auto text-[var(--golden)] twoSerif text-center text-2xl mb-6">Diseño Responsive ( Móvil )</h2>
            <p class="text-secondary text-left">Un diseño responsive asegura que las páginas web se vean y funcionen bien en todos los dispositivos, incluyendo móviles, tabletas y computadoras de escritorio.</p>
        </div>
    </div>
</section>