---
import ServiceCard from "@/ui_complements/Service-Card.astro";
import IcoPersonalizacion from "@/ui_complements/Ico-personalizacion.astro";
import IcoAccesibilidad from "@/ui_complements/Ico-accesibilidad.astro";
import IcoHosting from "@/ui_complements/Ico-hosting.astro";
import IcoResponsive from "@/ui_complements/Ico-responsive.astro";
import IcoSeo from "@/ui_complements/Ico-seo.astro";
import IcoVelocidad from "@/ui_complements/Ico-velocidad.astro";

---

<section class="relative lg:top-32 w-full max-w-[1080px] h-full bg-[var(--primary)] text-[var(--secondary)] py-8 px-0 md:px-8 lg:mx-auto gap-y-8 gap-x-6 z-30" >
    <ServiceCard
    title="Web personalizable"
    text="Soluciones a medida permite satisfacer las necesidades específicas de cada cliente."
    textOneBack="Bocetos exclusivos (nada de copiar/pegar)."
    textTwoBack="Marca la personalidad de tu marca usando las mejores prácticas UX/UI.">
        <IcoPersonalizacion class="w-full" />
    </ServiceCard>
    <ServiceCard
    title="Diseño responsivo"
    text="Nos aseguramos que tu web funcione correctamente en todos los dispositivos."
    textOneBack="El 85% de los usuarios navega desde el móvil."
    textTwoBack="Los navegadores penalizan a las webs que no son mobile-friendly.">
        <IcoResponsive class="w-full" />
    </ServiceCard>
    <ServiceCard
    title="SEO"
    text="Aumentamos el tráfico orgánico al sitio web mejorando la visibilidad en los motores de búsqueda. "
    textOneBack="El 75% de los usuarios no pasa de la primera página del navegador."
    textTwoBack="Nuestro conjunto de técnicas hará que tu web aparezca en los primeros resultados de Google.">
        <IcoSeo class="w-full" />
    </ServiceCard>
    <ServiceCard
    title="Velocidad de carga"
    text="Afecta tanto la experiencia del usuario como el ranking en los motores de búsqueda. Esto retiene a los visitantes y aumenta la tasa de conversión."
    textOneBack="El 53% de los usuarios abandona si la web tarda más de 3 segundos."
    textTwoBack="Mejoramiento de imágenes, elíminamos código innecesario y usamos servidores ultrarrápidos.">
        <IcoVelocidad class="w-full" />
    </ServiceCard>
    <ServiceCard
    title="Hosting & Dominio"
    text="Esenciales para establecer una identidad digital profesional y asegurar la presencia en línea."
    textOneBack="Servidores seguros y rápidos que evitan caídas repentinas"
    textTwoBack="Un dominio personalizado demuestra profesionalidad y confianza para tus clientes.">
        <IcoHosting class="w-full" />
    </ServiceCard>
    <ServiceCard
    id="products"
    title="Accesibilidad"
    text="Tener páginas accesibles para personas con capacidades diferentes amplía el alcance del sitio."
    textOneBack="Amplia tu mercado a personas con capacidades diferentes haciendo accesible tu web."
    textTwoBack="Mejora la imagen de tu marca demostrando inclusión y empatía.">
        <IcoAccesibilidad class="w-full" />
    </ServiceCard>
</section>

<style>
    section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    }
</style>