

<div id='toggleBtn' class="close md:hidden w-12 h-12 p-1 grid items-center cursor-pointer z-50">
    <div id="barUp" class="w-full h-[6px] bg-secondary dark:bg-primary rounded-full transition-transform duration-300 -z-10"></div>
    <div id="barDown" class="w-full h-[6px] bg-secondary dark:bg-primary rounded-full transition-transform duration-300 -z-10"></div>
</div>

<style>
    #barUp, #barDown {
        transform: rotate(0deg) translate(0px);
    }
</style>