---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<title>{title}</title>
	</head>
	<body >
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--rgb-bg: 36, 36, 36;
		--rgb-text: 225, 240, 251;
		--bg: rgb(var(--rgb-bg));
		--text: rgb(var(--rgb-text));
		--cristal: rgba(var(--rgb-bg), 0.85);
		--cristal-text: rgba(var(--rgb-text), 0.7);
		--text-full: rgb(255, 255, 255);
		--bg-full: rgb(0, 0, 0);
		--golden: #EFB810;
		--golden-shadow: #664300;
	}
	html {
		scroll-behavior: smooth;
	}
	h1, h2, h3 {
		text-wrap: balance;
	}
	p {
		text-wrap: pretty;
		font-size: clamp(1.12rem,1vw,1.6rem);
	}
	@font-face {
		font-family: 'font-sans';
		src: url('/fonts/Monse.ttf') format('truetype');
	}

	@font-face {
		font-family: 'font-handwriting';
		src: url('/fonts/Bailey.otf') format('truetype');
	}

	@font-face {
		font-family: 'font-serif';
		src: url('/fonts/Italiana.ttf') format('truetype');
	}
	@font-face {
		font-family: 'two-serif';
		src: url('/fonts/GloRe.ttf') format('truetype');
	}
	@font-face {
		font-family: 'two-sans';
		src: url('/fonts/PoRe.ttf') format('truetype');
	}
	.fontSans {
		font-family: 'font-sans';
	}
	.handwriting {
		font-family: 'font-handwriting';
	}
	.twoSerif {
		font-family: 'two-serif';
	}
	.twoSans {
		font-family: 'two-sans';
	}
	.scroll-fade-in {
		animation: reveal linear both;
		animation-timeline: view();
		animation-range: entry 20% cover 35%;
	}
	.cristal {
		background-color: var(--cristal);
		backdrop-filter: blur(6px);
	}
	@keyframes reveal {
		from {
			opacity: 0;
			transform: translateY(5rem);
		}
		to {
			opacity: 1;
			transform: translateY(0rem);
		}
	}
	.showUp {
		animation: showUp both;
		animation-timeline: view();
		animation-range: cover 10% cover 35%;
	}
	@keyframes showUp {
		0% {
			opacity: 0;
			translate: 0 20vh;
		}
		100% {
			opacity: 1;
			translate: 0;
		}
	}
	.rotY {
		transform: rotateY(180deg);
	}
	.rotX {
		transform: rotateX(180deg);
	}

	.spacing {
		letter-spacing: .125rem;
	}

	@media (width >= 48rem) {
		.spacing {
			letter-spacing: .25rem;
		}
	}

</style>
