---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<title>{title}</title>
	</head>
	<body >
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--var-cristal: 0.6;
		--rgb-bg: 36, 36, 36;
		--rgb-text: 225, 240, 251;
		--bg: rgb(var(--rgb-bg));
		--text: rgb(var(--rgb-text));
		--cristal: rgba(var(--rgb-bg), var(--var-cristal));
		--cristal-text: rgba(var(--rgb-text), 0.7);
	}
	html {
		scroll-behavior: smooth;
	}
	h1, h2, h3 {
		text-wrap: balance;
	}
	p {
		text-wrap: pretty;
	}
	@font-face {
		font-family: 'font-sans';
		src: url('/fonts/Monse.ttf') format('truetype');
	}

	@font-face {
		font-family: 'font-handwriting';
		src: url('/fonts/Bailey.otf') format('truetype');
	}

	@font-face {
		font-family: 'font-serif';
		src: url('/fonts/Italiana.ttf') format('truetype');
	}
	.handwriting {
		font-family: 'font-handwriting';
	}
	.scroll-fade-in {
		animation: reveal linear both;
		animation-timeline: view();
		animation-range: entry 20% cover 35%;
	}
	.cristal {
		background-color: var(--cristal);
		backdrop-filter: blur(0.25rem);
	}
	@keyframes reveal {
		from {
			opacity: 0;
			transform: translateY(5rem);
		}
		to {
			opacity: 1;
			transform: translateY(0rem);
		}
	}
	.rotY {
		transform: rotateY(180deg);
	}
	.rotX {
		transform: rotateX(180deg);
	}

</style>
